<app-registro-toolbar
  [entityName]="currentEntity.usuario"
></app-registro-toolbar>
<div class="grid justify-center mt-12">
  <div class="card shadow-2xl shadow-black bg-light">
    <div class="card-body">
      <div class="card-title">
        Registro de las
        <span class="text-secondary">Actividades de los Docentes</span>
      </div>
      <div class="divider"></div>
      <div class="grid">
        <label for="">Nombre:</label>
        <input
          class="input input-secondary"
          type="text"
          name=""
          id=""
          placeholder="Ej. Registro 1"
          [(ngModel)]="currentEntity.usuario"
        />
        <label for="">Comentario:</label>
        <input
          class="input input-secondary"
          type="text"
          name=""
          id=""
          placeholder="Ej. proyecto"
          [(ngModel)]="currentEntity.comentario"
        />
        <label for="">Actividad:</label>
        <input
          class="input input-secondary"
          type="number"
          name=""
          id=""
          placeholder="Ej. Buenos dias"
          [(ngModel)]="currentEntity.activity"
        />
        <label for="">Fecha:</label>
        <input
          class="input input-secondary"
          type="date"
          name=""
          id=""
          [(ngModel)]="currentEntity.created"
        />

        <label>Usuarios</label>
        <div>
          <div class="form-control">
            <app-username-combobox
              (usernameEmitter)="currentEntity.usernameId = $event"
              [usernameId]="currentEntity.usernameId"
            ></app-username-combobox>
            <label class="label cursor-pointer">
              <span class="label-text">Activo</span>

              <input
                type="checkbox"
                class="toggle toggle-secondary"
                [(ngModel)]="currentEntity.enabled"
              />
            </label>
            <table class="table table-compact">
              <thead>
                <tr>
                  <th>Comentario</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let comentary of currentEntity.comentaries">
                  <td>{{ comentary.name }}</td>
                  <td>
                    <a (click)="removeComentary(comentary.id)">
                      <svg
                        class="w-4 h-4"
                        (click)="removeComentary(comentary.id)"
                        class="w-4 h-4"
                        fill="red"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1"
                        x="0px"
                        y="0px"
                        viewBox="0 0 512 512"
                        style="enable-background: new 0 0 512 512"
                        xml:space="preserve"
                      >
                        <g>
                          <path
                            d="M490.667,96c0-17.673-14.327-32-32-32h-80.555C364.632,25.757,328.549,0.13,288,0h-64   c-40.549,0.13-76.632,25.757-90.112,64H53.333c-17.673,0-32,14.327-32,32l0,0c0,17.673,14.327,32,32,32H64v266.667   C64,459.468,116.532,512,181.333,512h149.333C395.468,512,448,459.468,448,394.667V128h10.667   C476.34,128,490.667,113.673,490.667,96z M384,394.667C384,424.122,360.122,448,330.667,448H181.333   C151.878,448,128,424.122,128,394.667V128h256V394.667z"
                          />
                          <path
                            d="M202.667,384c17.673,0,32-14.327,32-32V224c0-17.673-14.327-32-32-32s-32,14.327-32,32v128   C170.667,369.673,184.994,384,202.667,384z"
                          />
                          <path
                            d="M309.333,384c17.673,0,32-14.327,32-32V224c0-17.673-14.327-32-32-32s-32,14.327-32,32v128   C277.333,369.673,291.66,384,309.333,384z"
                          />
                        </g>
                      </svg>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <app-comentary-search
                      (comentaryEmitter)="addComentaries($event)"
                    ></app-comentary-search>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div></div>
        </div>
      </div>
      <div class="card-actions">
        <button class="btn btn-secondary btn-sm" (click)="save()">
          Guardar
        </button>
        <button class="btn btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="card card-compact shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">Warning</div>
      <p>Si se elimina el registro no podrá recuperarlo</p>
      <div class="card-actions">
        <!-- The button to open modal -->
        <label for="my-modal" class="btn modal-button btn-secondary btn-xs"
          >Eliminar</label
        >

        <!-- Put this part before body tag -->
        <input type="checkbox" id="my-modal" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box">
            <h3 class="font-bold text-lg">
              Estas seguro que deseas eliminarlo!
            </h3>
            <p class="py-4">No se podra revertir los cambios!</p>
            <div class="modal-action">
              <label for="my-modal" class="btn btn-info" (click)="deleteById()"
                >Confirmar</label
              >
              <label for="my-modal" class="btn btn-warning">Cancelar!</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
